body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.records {
   text-align: center;
   width: 50%;
   margin: 0px auto
}