@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.records {
  font-family: 'DM Sans';
  text-align: center;
  color: #2D3748;
  width: 75%;
  padding-top: 10%;
  margin: 0px auto
}

.table-header th {
  font-family: 'DM Sans';
  font-size: 16px;
  text-transform: none;
  color: #2D3748;
  background-color: #EDF2F7
}

.navbar-text {
  font-family: 'DM Sans';
  font-size: 16px !important;
  font-weight: 400;
  color: #FFFFFF !important;
  text-decoration: none
}

.log-entry h1 {
  font-size: 28px;
  font-weight: 500;
}

.button {
  font-family: 'DM Sans';
  font-size: 18px;
  font-weight: 400;
}

.solid-button {
  color: #FFFFFF;
  background-color: #285E61 !important;
  transition: background-color 0.25s ease !important;
}

.solid-button:hover {
  background-color: #1B2A2C !important;
  transition: background-color 0.5s ease !important;
}

.solid-button:active {
  background-color: #285E61 !important;
  box-shadow: inset 0px 0px 10px #ffffff !important;
  transition: background-color 0.1s ease, box-shadow 0.1s ease !important;
}

.ghost-button {
  color: #285E61 !important;
  transition: color 0.25s ease !important;
}

.ghost-button:hover {
  color: #1B2A2C !important;
  background-color: #FFFFFF !important;
  transition: color 0.5s ease !important;
}

.ghost-button:active {
  color: #285E61 !important;
  transition: color 0.1s ease !important;
}